# IBM Data Science Professional Certificate
## Analyzing GDP and Unemployment Data

### Import libraries

In [51]:
import pandas as pd
from bokeh.plotting import figure, output_file, show

### Define a make_dashboard function

In [52]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

### Store the links in a dictionary

In [53]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

### Display the first five rows of the GDP table

In [54]:
df_gdp = pd.read_csv(links["GDP"])
df_gdp.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

### Display the first five rows of the unemployment table

In [55]:
df_unemp = pd.read_csv(links['unemployment'])
df_unemp.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

### Display the first five rows where unemployment is greater than 8.5%

In [56]:
df_greaterthan85 = df_unemp[df_unemp['unemployment'] > 8.5]
df_greaterthan85.head()

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

### Define the columns for the dashboard

In [57]:
x = df_gdp['date']
x.head()

0    1948
1    1949
2    1950
3    1951
4    1952
Name: date, dtype: int64

In [58]:
gdp_change = df_gdp['change-current']
gdp_change.head()

0    -0.7
1    10.0
2    15.7
3     5.9
4     6.0
Name: change-current, dtype: float64

In [59]:
unemployment = df_unemp['unemployment']
unemployment.head()

0    3.750000
1    6.050000
2    5.208333
3    3.283333
4    3.025000
Name: unemployment, dtype: float64

In [60]:
title = 'GDP and Unemployment Data'

In [61]:
file_name = "gdpunemploymentdata.html"

### Call the make_dashboard function

In [62]:
make_dashboard(x=x, gdp_change=gdp_change, unemployment= unemployment, title=title, file_name=file_name)